body,
html {
  background-color: #ccc;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size: 15px;
}
.wrapper {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.header {
  background-color: #3F72AF;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
}
.data-pengguna {
  background-color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
}
.header h3 {
  color: white;
  margin: 0px 0px 20px;
  font-size: 30px;
}
.data-pengguna h3 {
  margin: 0px 0px 20px;
  font-size: 30px;
  text-align: center; /* Center judul */
}

@media only screen and (max-width: 800px) {
  .wrapper {
    width: 80%;
  }
}
/** form */

.input-box {
  display: block;
  width: 100%;
}
.input-box > input {
  width: 100%;
  background-color: #dedede;
  border-radius: 10px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
}
.input-box > button {
  border: 0;
  background: #112d4e;
  color: #fff;
  font-weight: bold;
  outline: none;
  margin: 0;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  padding: 10px;
}
.input-box > select {
  width: 100%;
  background-color: #dedede;
  border-radius: 10px;
  padding: 10px 20px; /* sama seperti input text */
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  appearance: none; /* hapus tanda panah default browser */
  -webkit-appearance: none;
  -moz-appearance: none;
}

/** list */
.data-pengguna > ul {
  padding: 0px;
  margin: 0px;
}
.data-pengguna > ul > li {
  padding: 10px 0px 10px 0px;
  list-style: none;
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}
.data-pengguna > ul > li > div > a {
  text-decoration: none;
}
/* Tabel responsive */
.data-pengguna table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  
}

.data-pengguna th,
.data-pengguna td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.data-pengguna th {
  background-color: #3F72AF;
  color: white;
}

.data-pengguna tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-pengguna a.edit {
  color: rgb(143, 143, 45);
  text-decoration: none;
}

.data-pengguna a.delete {
  color: red;
  text-decoration: none;
}
/* Tabel responsive hanya untuk layar <= 800px */
@media only screen and (max-width: 800px) {
  .wrapper {
    width: 80%;
  }

  /* Buat tabel bisa scroll horizontal di layar kecil */
  .data-pengguna table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .data-pengguna th,
  .data-pengguna td {
    padding: 8px;
    font-size: 14px;
  }
}

/* Pagination */
.pagination {
  margin-top: 15px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #3F72AF;
  background: white;
  color: #3F72AF;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background: #3F72AF;
  color: white;
}

.wrapper > ul > li:last-child {
  border-bottom: none;
}
.email {
  color: #adadad;
}